body {
    font-family: "Google Sans", sans-serif;
    margin: 0 auto;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
}

/* ------------------------ 
         
    HEADER

------------------------ */


header {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: fit-content;
    margin: 3rem auto;
}

h1 {
    font-size: 3rem;
    font-weight: 500;
}


/* ------------------------ 
         
    FORM

------------------------ */


form {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 2rem;
}

.note-title {
    font-family: "Google Sans", sans-serif;
    width: 100%;
    font-size: 1.3rem;
    padding: 1rem 2rem;
    border-radius: 1rem;
    border: 1px solid black;
}


.note-text-container {
    margin-top: 0.1em;
    border: 1px black solid;
    border-radius: 1rem;
}

.note-text-container:has(.note-text:focus) {
    outline: 1px black solid;
}

.note-text {
    resize: none;
    width: 100%;
    border: none;
    background-color: transparent;
    font-family: "Google Sans", sans-serif;
    font-size: 1rem;
    min-height: 200px;
    padding: 1rem 2rem;
    outline: none;
}


.save-button {
    background-color: #4285F4;
    color: white;
    float: right;
    font-family: "Google Sans", sans-serif;
    font-size: 1rem;
    padding: 0.7rem 2rem;
    margin: 0.5rem;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
}

/* ------------------------ 
         
    NOTE STYLES

------------------------ */

.note {
    border: solid 1px black;
    border-radius: 1rem;
    padding: 1rem;
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
    width: 80%;
    margin: 0 auto;
}

h2 {
    margin: 0;
}

/* ------------------ 
      MODAL FORM          
 --------------------*/


.modal-form-wrapper {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    background-color: #333;
    inset: 0 0 0 0;
    width: 100%;
    margin: 0;
    padding: 30% 0 0 0;
    transition: all 1s;
}

 .modal-form > * {
    background-color: white;
 }

 .close-button-modal {
    background-color: #f21717;
    color: white;
    float: left;
    font-family: "Google Sans", sans-serif;
    font-size: 1rem;
    padding: 0.7rem 2rem;
    margin: 0.5rem;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
}

.note-title-modal {
    font-family: "Google Sans", sans-serif;
    width: 100%;
    font-size: 1.3rem;
    padding: 1rem 2rem;
    border-radius: 1rem;
    border: 1px solid black;
}


.note-text-container-modal {
    margin-top: 0.1em;
    border: 1px black solid;
    border-radius: 1rem;
}

.note-text-container-modal:has(.note-text:focus) {
    outline: 1px black solid;
}

.note-text-modal {
    resize: none;
    width: 100%;
    border: none;
    background-color: transparent;
    font-family: "Google Sans", sans-serif;
    font-size: 1rem;
    min-height: 200px;
    padding: 1rem 2rem;
    outline: none;
}


.save-button-modal {
    background-color: #4285F4;
    color: white;
    float: right;
    font-family: "Google Sans", sans-serif;
    font-size: 1rem;
    padding: 0.7rem 2rem;
    margin: 0.5rem;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
}

/*
<div class="modal-form-wrapper">
<form class="modal-form">
<input autocomplete="off" type="text" class="note-title-modal" placeholder="Note title">
<div class="note-text-container-modal">
<textarea class="note-text-modal" placeholder="Take a note...">
</textarea><button class="close-button-modal" type="submit">
Close</button><button class="save-button-modal" type="submit">Save</button>
</div></form></div>*/