header {
    background-color: black;
}

.background-container {
    background-color: white;
    background-image: none;
}

main {
    color: black;
    text-align: center;
    align-items: center;
    padding-top: 4em;
    padding-bottom: 0em;;

}

.main-title {
    font-size: 3rem;
    margin: 0;
}

.main-text {
    margin: 0;
    width: 80%
}

h2::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0%;
    width: 60%;
    height: 3px;
    background-color: #FFE600;
    transform: translateX(0%);
}

.section-wrapper {
    padding-top: 0;
}

.about-me-img {
    padding: 2em 0;
}

section {
    text-align: left;
}

.img-section {
    text-align: center
}



form {
    display: flex;
    flex-direction: column;
}

label, input {
    display: block;
}

input,
textarea {
    box-sizing: border-box;
    width: 100%;
    border: 1px solid black;
    resize: none;
    margin-bottom: 1em;
    font-size: 1rem;
    padding: 0.5em;
    font-family: "Montserrat", sans-serif;
}

.send-btn {
    padding: 1em 3em;
    align-self: flex-end;
    margin-top: 2em;
}

@media (min-width:600px) {


    main {
        padding-top: 4em;
        padding-bottom: 0em;
    }

    .section-wrapper {
        grid-template-columns: 1fr;
        column-gap: 7%;
    }
    

}

@media (min-width: 850px) {
    .section-art-one {
            grid-column: 2 / 4;
    }



}