:root {
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-direction: column;
}

.background-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr auto auto;
    grid-template-areas:
        "h h h"
        "m m m";
    background-image: url("./img/hero-bg.jpg");
    background-size: cover;
    background-position: center;
}

/* Header */

header {
    color: white;
    display: flex;
    grid-area: h;
    align-items: center;
    padding: 0 6em;
}

.main-logo {
    background-color: #FFE600;
    padding: 3em 0.3em 0;
}

.navbar {
    display: flex;
    padding: 0;
    justify-content: space-around;
}

.navbar-item {
    padding-left: 2em;
    text-transform: lowercase;
    list-style-type: none;
}

.navbar-link {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 0.8rem;
    font-weight: bold;
    padding: 0.2em 0;
}

.yellow-underline {
    border-bottom: solid 2px #FFE600;
}

/* Main area */

main {
    grid-area: m;
    

    color: white;
    padding: 9em 6em;
    display: flex;
    flex-direction: column;
}

.main-title {
    width: 40%;
}

.main-text {
    width: 40%;
    font-size: 1.2rem;
    line-height: 1.8em;
    padding: 1em 0;
}

.main-btn {
    background-color: #FFE600;
    color: black;
    padding: 1em 2em;
    font-weight: bold;
    align-self: flex-start;

}

.yellow {
    color: #FFE600;
}

.strong {
    font-weight: bold;
}

/* Sections */

.section-wrapper {
    grid-area: s;
    display: flex;
    background-color: white;
    padding: 3.5em 6em;
    justify-content: space-between;
    gap: 10%;
}

section {
    flex: 1;
    text-align: center;
}

.section-title {
    display: inline-block;
    position: relative;
    padding-bottom: 1em;
    font-size: 1.2rem;
}

h2::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 60%;
    height: 3px;
    background-color: #FFE600;;
    transform: translateX(-50%);
}

.section-text {
    line-height: 1.8em;
}

/* Footer */

footer {
    grid-area: f;
    background-color: #EBEBEB;
    color: rgba(0, 0, 0, 0.37);
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: 
        "fl ."
        "ft l"
        "c .";
    grid-column-gap: 30em;
    justify-content: space-between;
    padding: 4em 6em;


}

.footer-logo {
    opacity: 0.37;
    grid-area: fl;
}

.copyright {
    font-size: 0.8rem;
    grid-area: c;
}

.footer-text {
    grid-area: ft;
    margin: 0.5em 0 2em 0;
    line-height: 1.3em;

}

.logos {
    grid-area: l;
}




