:root {
    font-size: 16px;
    --padding-lr: 5%;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

.background-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr auto auto;
    grid-template-areas:
        "h h h"
        "m m m";
    background-image: url("./img/hero-bg.jpg");
    background-size: cover;
    background-position: 60%;
}

/* Header */

header {
    color: white;
    display: flex;
    grid-area: h;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--padding-lr);
}

.main-logo {
    background-color: #FFE600;
    padding: 3em 0.3em 0;
}

.burger-menu {
    display: block;
    font-size: 2rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    padding: 0;
}

.close-nav {
    color: #FFE600;
    font-size: 5rem;
    position: absolute;
    top: 0px;
    left: 10px;
    cursor: pointer;
}



nav {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    position: fixed;
    background: #000;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 100%;
    z-index: 10;
    opacity: 95%;
    transition: transform 250ms;
}

.navigation-open {
    transform: translateX(-100%);

}

.navbar {
    padding: 0;
}

.navbar-item {
    text-transform: lowercase;
    padding: 3em;
    list-style-type: none;
}

.navbar-link:hover {
    color: #FFE600;
}

.navbar-link {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 3rem;
    font-weight: bold;
    padding: 0.2em 0;
}

.yellow-underline {
    border-bottom: none;
}

/* Main area */

main {
    grid-area: m;
    color: white;
    padding: 5em var(--padding-lr);
    display: flex;
    flex-direction: column;
}

.main-title {
    width: 70%;
}

.main-text {
    width: 70%;
    font-size: 1.2rem;
    line-height: 1.8em;
    padding: 1em 0;
}

.main-btn {
    background-color: #FFE600;
    color: black;
    padding: 1em 2em;
    font-weight: bold;
    align-self: flex-start;

}

.yellow {
    color: #FFE600;
}

.strong {
    font-weight: bold;
}

/* Sections */

.section-wrapper {
    grid-area: s;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 3.5em var(--padding-lr);
    justify-content: space-between;
    gap: 7%;
}

section {
    flex: 1;
    text-align: center;
}

.section-title {
    display: inline-block;
    position: relative;
    padding-bottom: 1em;
    font-size: 1.2rem;
}

h2::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 60%;
    height: 3px;
    background-color: #FFE600;;
    transform: translateX(-50%);
}

.section-text {
    line-height: 1.8em;
}

/* Footer */

footer {
    grid-area: f;
    background-color: #EBEBEB;
    color: rgba(0, 0, 0, 0.37);
    display: grid;
    grid-template-areas: 
        "l"
        "fl"
        "ft"
        "c";
    text-align: center;
    padding: 4em var(--padding-lr);


}

.footer-logo {
    opacity: 0.37;
    grid-area: fl;
    margin: 2em auto 1em;
}

.copyright {
    font-size: 0.8rem;
    grid-area: c;
}

.footer-text {
    grid-area: ft;
    margin: 0.5em 0 2em 0;
    line-height: 1.3em;

}

.logos {
    grid-area: l;
    min-width: max-content;
    font-size: 2rem;
    margin: 0 10px;
    text-decoration: none;
}

.social-icon {
    color: black;
}


@media (min-width:600px) {

    :root {
            --padding-lr: 10%;
        }
    .section-wrapper {
            flex-direction: row;
    }

    .main-title {
        width: 60%;
    }

    .main-text {
        width: 60%;
    }

    .yellow-underline {
        border-bottom: solid 2px #FFE600;
    }

    nav {
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
        align-items: center;
        position: static;
    }


    .navbar {
        padding: 0;
        justify-content: space-around;
    }

    .close-nav {
        display: none;
    }

    .navbar-item {

        padding: 0 0 0 2.5em;
        text-transform: lowercase;
        list-style-type: none;
    }

    .navbar-link {
        text-decoration: none;
        color: #FFFFFF;
        font-size: 1.2rem;
        font-weight: bold;
        padding: 0.2em 0;
    }

    .close-navbar {
        display: none;
    }

    footer {

        grid-template-columns: 3fr 1fr;
        grid-template-areas:
                    "fl ."
                    "ft l"
                    "c .";
        grid-column-gap: 20%;
        justify-content: space-between;
        text-align: left;
    }

    .footer-logo {
        opacity: 0.37;
        grid-area: fl;
        margin: 2em 0 1em;
    }

    .logos {
        text-align: right;
    }

    main {
        padding: 9em var(--padding-lr)
    }

    header {
        color: white;
        display: flex;
        justify-content: flex-start;
        grid-area: h;
        align-items: center;
        padding: 0 var(--padding-lr);
    }

    .burger-menu {
        display: none;
    }

    .navbar {
        display: flex;
    }
}



