/* Apply border-box sizing to all elements */
* {
    box-sizing: border-box;
}

/* Base HTML styles */
html {
    -webkit-text-size-adjust: 100%; /* Prevent iOS text auto-scaling */
    scroll-behavior: smooth;        /* Smooth scrolling for anchor links */
}

/* Ensure images are responsive and don’t overflow */
img, picture, video, canvas, svg {
    max-width: 100%;
    display: block;
    height: auto;
}

/* Ensure body fills the viewport height */
body {
    min-height: 100svh;
    -webkit-font-smoothing: antialiased;
}

/* Remove default inline behavior of iframes */
iframe {
    display: block;
}

/* Allow keyword animations */ 
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

/* Respect user preference for reduced motion */
@media (prefers-reduced-motion: reduce) {
    *, *::before, *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* Remove default margin and padding from common elements */
body, h1, h2, h3, h4, h5, h6, p, blockquote,
ul, ol, dl, figure, pre, hr {
    margin: 0;
    padding: 0;
}

/* for too long words, wrapping hard */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}


/* Remove default padding and bullets from lists */
ul, ol {
    padding-left: 0;
    list-style: none;
}

/* Inherit font and remove default styles from form elements */
input, button, textarea, select {
    font: inherit;
    background: none;
    border: none;
    outline: none;
}

/* Make buttons use a pointer cursor */
button {
    cursor: pointer;
}

/* Remove spacing in tables */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Remove default quote styling */
blockquote, q {
    quotes: none;
}

/* Remove pseudo quote marks from blockquotes and quotes */
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}