body {
    background-image: linear-gradient(black, #08113b);
    color: white;
    font-family: "Saira", sans-serif;
}

.body-container {
    width: 80%;
    max-width: 1400px;
    min-width: 320px;
    margin: 0 auto;
}

/* ---------------------
         HEADER 
--------------------- */

header {
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
}

/* -------LOGO--------- */

h1 {
    width: fit-content;
    font-size: min(10vw, 3.5rem);
    font-weight: 700;
    padding: 1em 0;
}

.cursor {
    margin-right: auto;
    font-size: 2.7rem;
    padding-left: 0.03em;
}

/* -------NAV---------- */

nav {
    width: 60%;
    max-width: 520px;
    text-align: end;
}

.burger-menu {
    font-size: min(10vw, 3rem);
    cursor: pointer;
}

.close-menu {
    position: absolute;
    padding: 0.5em;
    right: 3rem;
    top: 3rem;
    font-size: 3rem;
    cursor: pointer;
    z-index: 1;
}

.full-screen-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    inset: 0 0 0 0;
    background-color: black;
    transform: translateX(100%);
    transition: none;

}

.full-screen-menu-opened {
    display: flex;
    transform: none;
    transition: transform 300ms ease-in-out;

}

li {
    flex: 1;
    flex-basis: fit-content;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link-martykan {
    font-size: 1rem;
    padding-right: 0.5em;
}

.nav-item-link {
    display: block;
    text-decoration: none;
    color: white;
    font-size: 3rem;
    position: relative;
    padding: 0.5em 0;
}

.nav-item-link:hover {
    color: #e9ecfc;
}

.link-martykan {
    transition: transform 200ms;
    font-size: 2rem;
}

.nav-item-link:hover > .link-martykan {
    color: #1734b5;
    transform: scale(1.2);
}

@media all and (min-width: 950px) {
    .full-screen-menu {
        display: flex;
        flex-direction: row;
        position: initial;
        transform: none;
        background-color: initial;
    }

    a {
        width: 100%;
    }

    .burger-menu {
        display: none;
    }

    .close-menu {
        display: none;
    }

    .underline {
        position: absolute;
        content: "";
        inset: 80% -2% 10% -2%;
        border-radius: 1em;
        background: #1734b5;
    }

    .nav-item-link {
        font-size: 1.3rem;
    }

    .link-martykan {
        font-size: 1rem;
    }
}

/* ---------------------
         MAIN 
--------------------- */
