body {
    background-image: linear-gradient(black, #08113b);
    color: white;
    font-family: "Saira", sans-serif;
}

.body-container {
    width: 80%;
    max-width: 1400px;
    min-width: 320px;
    margin: 0 auto;
}

/* ---------------------
         HEADER 
--------------------- */


header {
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
}


/* -------LOGO--------- */

h1 {
    width: fit-content;
    font-size: min(10vw, 3.5rem);
    font-weight: 700;
    padding: 1em 0;
}

.cursor {
    margin-right: auto;
    font-size: 2.7rem;
    padding-left: 0.03em;
}

/* -------NAV---------- */

nav {
    width: 60%;
    max-width: 520px;
    text-align: end;
}

#burger-menu {
    font-size: min(10vw, 3rem);
}

.full-screen-menu {
    display: none;
}

li {
    flex: 1;
    flex-basis: fit-content;
    text-align: center;
    position: relative;
}

.link-martykan {
    font-size: 1rem;
    padding-right: .5em
}

.nav-item-link {
    display: block;
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
    position: relative;
    padding: 0.5em 0;
    transition: all 100ms;
}

.nav-item-link:hover {
    color: #e9ecfc;
}

.link-martykan {
    transition: all 200ms;
}

.nav-item-link:hover > .link-martykan {
    color: #1734b5;
    transform: scale(1.2);
}

.underline {
    position: absolute;
    content: "";
    inset: 80% -2% 10% -2%;
    border-radius: 1em;
    background: #1734b5;
}

@media all and (min-width: 820px) {

    .full-screen-menu {
        display: flex;
        justify-content: space-between;
    }

    #burger-menu {
        display: none;
    }
}

/* ---------------------
         MAIN 
--------------------- */