body {
    background-image: linear-gradient(black, #08113b);
    color: white;
    font-family: "Saira", sans-serif;
}

.body-container {
    width: 80%;
    max-width: 1400px;
    min-width: 320px;
    margin: 0 auto;
}

/* ---------------------
         HEADER 
--------------------- */

header {
    display: flex;
    align-items: center;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
}

/* -------LOGO--------- */

h1 {
    width: fit-content;
    font-size: min(8vw, 4rem);
    font-weight: 700;
    padding: 1em 0;
    user-select: none;
}

.cursor {
    margin-right: auto;
    font-size: min(8vw, 4rem);
    padding-left: 0.03em;
}

/* -------NAV---------- */

nav {
    width: 60%;
    max-width: 520px;
    text-align: end;
}

.burger-menu {
    font-size: min(10vw, 3rem);
    cursor: pointer;
}

.close-menu {
    position: absolute;
    padding: 0.5em;
    right: 2%;
    top: 2%;
    font-size: 3rem;
    cursor: pointer;
    z-index: 1;
}

.full-screen-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    inset: 0 0 0 0;
    background-color: black;
    transform: translateX(100%);
    transition: none;
}

.full-screen-menu-opened {
    display: flex;
    padding: 7em 0;
    transform: none;
    transition: transform 300ms ease-in-out;
    z-index: 2;
}

li {
    flex: 1;
    flex-basis: fit-content;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link-martykan {
    font-size: 1rem;
    padding-right: 0.5em;
}

.nav-item-link {
    display: block;
    text-decoration: none;
    color: white;
    font-size: 3rem;
    position: relative;
    padding: 0.5em 0;
    user-select: none;
}

.nav-item-link:hover {
    color: #e9ecfc;
}

.link-martykan {
    transition: transform 200ms;
    font-size: 2rem;
}

.nav-item-link:hover > .link-martykan {
    color: #1734b5;
    transform: scale(1.2);
}

@media all and (min-width: 950px) {
    .full-screen-menu {
        display: flex;
        flex-direction: row;
        position: initial;
        transform: none;
        background-color: initial;
    }

    a {
        width: 100%;
    }

    .burger-menu {
        display: none;
    }

    .close-menu {
        display: none;
    }

    .underline {
        position: absolute;
        content: "";
        inset: 80% -2% 10% -2%;
        background: #1734b5;
    }

    .nav-item-link {
        font-size: 1.3rem;
    }

    .link-martykan {
        font-size: 1rem;
    }
}

/* ---------------------
         MAIN 
--------------------- */

.main-article {
    border-radius: 2rem;
    box-shadow: 0 0 20px white;
    max-width: 1000px;
    margin: 3em auto;
    padding: 1rem;
    position: relative;
    z-index: 1;
    transition: border 100ms;
}

.main-article-img {
    border-radius: 1rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    object-fit: cover;
    width: 100%;
    transition: all 300ms;
}

.main-article-title {
    padding: 0.5em 5%;
    font-size: clamp(1.3rem, 5vw, 3.5rem);
    position: absolute;
    background-color: rgb(0, 0, 0, 0.75);
    border-radius: 2rem;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    inset: 70% 0 0 0;
    transition: all 300ms;
    user-select: none;
}

.main-article-desc {
    padding: 2em 5%;
    font-size: clamp(1rem, 3vw, 2.5rem);
    position: absolute;
    transform: scaleY(0);
    transform-origin: bottom;
    inset: 20% 0 0 0;
    transition: none;
    user-select: none;
}

.main-article:hover {
    cursor: pointer;
}

.main-article:hover > .main-article-img {
    border-radius: 1rem;
    filter: blur(10px) brightness(0.3);
}

.main-article:hover > .main-article-title {
    background-color: transparent;
    inset: 0 0 0 0;
}

.main-article:hover > .main-article-desc {
    transform: scaleY(1);
    transition: all 300ms 200ms;
}

@media all and (min-width: 950px) {
    .main-article {
    }
}

/* ---------------------
         TOPICS
--------------------- */

.topic-choose {
    max-width: 1000px;
    margin: 4rem auto;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 20px white;
    border-radius: 2em;
    padding: 1rem;
    align-items: center;
    transition: box-shadow 100ms, transform 100ms;
}

h3 {
    font-size: 1.5rem;
    min-width: 50%;
}

.topics-container {
    display: flex;
    gap: 2em;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    align-content: flex-start;
}

.topic-icon {
    width: 40px;
    aspect-ratio: 1/1;
    border-radius: 0.5em;
    fill: white;
    background-color: #555;
}

/* ---------------------
         TOPICS
--------------------- */

.article-grid-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.article-wrapper{

    /* TODO spatial awareness*/
}

article {
    border-radius: 2rem;
    padding: 1em;
}

.year-divider {
    position: relative;
    text-align: center;
    margin: 2rem 0;

    font-size: 1.2rem;
    font-weight: bold;
}

.year-divider::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 1px;
    background-color: rgb(132, 49, 228);
    z-index: -1;
}

.year-divider-polygon {
    background-color: rgb(132, 49, 228);
    font-size: 1rem;
    color: white;
    display: inline-block;
    padding: 0.5em 1em;
    clip-path: polygon(25% 20%, 75% 20%, 100% 50%, 75% 80%, 25% 80%, 0% 50%);
    text-align: center;
}

