body {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
}

/* Typography */

body {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
}

h1,
h2 {
    margin: 0
}

h1 {
    font-family: "Lora", serif;
    color: #143774;
    font-weight: 400;
    margin-bottom: 0.1em;
}

h2 {
    color: #1792D2;
    font-size: 0.82rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

h3 {
    font-family: "Lora", serif;
    color: #143774;
    font-weight: 400;
    font-size: 1.3rem;
    margin: 0 0 0.6em 0;
}

.h3-about-me {
    margin-top: 2em;
}



h4 {
    font-weight: 700;
    text-transform: uppercase;
    color: #143774;
    font-size: 0.8rem;
    margin: 0 0 1.2em 0;
    letter-spacing: 0.05rem;
}

h5 {
    font-family: "Lora", serif;
    color: #143774;
    font-weight: 400;
    font-size: 0.9rem;
    margin: 0.8em 0 1.4em 0;
}

h6 {
    color: #1792D2;
    font-family: "Lora", serif;
    font-weight: 400;
    font-size: 1.2rem;
    margin: 1.2em 0 0 0;
}

.about-me-text {
    color: #143774;
    font-size: 0.9rem;
}

.continue-link {
    font-weight: 700;
    color: #1792D2;
    text-transform: uppercase;
    letter-spacing: 0.14rem;
    font-size: 0.85rem;
}

.date-comments {
    color: #707070;
    font-size: 0.81rem;
    margin-bottom: 1em;
}

.p-recent,
.p-featured {
    line-height: 1.7em;
}

/* Header */
header {
    background-color: #F8F8F8;
    padding: 3rem 0;
    text-align: left;
    margin-bottom: 4em;
}



.container {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
    min-width: 350px;
}

.container-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navbar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin-bottom: 0;

}

.col {
    display: flex;
    flex-direction: column;
    align-items: center;

}

li {
    list-style-type: none;
    margin-bottom: 1em;
}


.navbar-link {
    color: #717171;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.75rem;
    letter-spacing: 0.12rem;
    ;
}

.navbar-link:hover {
    color: #143774;
}

.col {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.article-recent {
    margin-bottom: 4em;
    display: flex;
    flex-direction: column;
}


.article-recent-img {
    max-height: 280px;
    width: 100%;
    object-fit: cover;
    order: 0;
}

/* for large screens */
@media (min-width: 760px) {
    .container-flex {
        flex-direction: row;
    }

    .navbar-container {
        flex-direction: row;
    }

    li {
        margin-left: 2rem
    }

    .col {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    aside {
        width: 20%
    }

    main {
        width: 75%
    }

    .article-recent {
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 5em;
    }

    .article-recent-aside {
        width: 25%
    }

    .article-recent-main {
        width: 70%
    }

    .article-recent-img {
        max-width: 150px;
        height: 100%;
        object-fit: cover;
        order: 0;
    }

    .flower-img {
        object-position: left;
    }
}

.side-img {
    max-height: 150px;
    width: 100%;
    object-fit: cover;
}


.h3-recent {
    order: 2;
}

.continue-link {
    order: 5;
}

.date-comments {
    order: 1;
}

.p-recent {
    order: 3;
}





.article-featured {
    display: flex;
    flex-direction: column;
    margin-bottom: 3em;
}

.h3-featured {
    order: 3
}

.main-img {
    order: 1;
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    object-position: bottom;
}

.p-featured {
    order: 4
}

.main-date-comments {
    order: 2
}

.main-continue-link {
    order: 5;
    padding-bottom: 2em;
    border-bottom: #707070 1px solid
}



/* Footer */

footer {
    background-color: #143774;
    margin-top: 3em;
}

.container-foot {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.footer-main {
    font-weight: 700;
    color: rgba(255, 255, 255, 0.5);
    margin: 3rem 0 0 0;
}

.footer-second {
    color: rgba(255, 255, 255, 0.5);
    margin: 0.6rem 0 3rem 0;
}


section {
    border: 1rem #EBEBEB solid;
    padding: 1em;
    margin-bottom: 2em;
}

.side-post {
    border-bottom: #707070 solid 1px;
    margin-bottom: 1.4em;
}

.side-post:last-child {
    border: 0;
    margin-bottom: 1em;
}

.active-page {
    border-bottom: 1px solid #717171;
    padding-bottom: 0.2em
}

.active-page:hover {
    color: #717171;
}

.disable {
    color: white;
}